@model MarocTarl.Models.Exercice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exercice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Palier.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palier.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ordre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ordre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowWithPrevious)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowWithPrevious)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seuil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seuil)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
