@model MarocTarl.Models.GroupeClasseStudent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GroupeClasseStudent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClasseStudent.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClasseStudent.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Groupe.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Groupe.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
